*{
    text-decoration: none;
}
.navbar{
    background-color: rgba(7, 7, 7, 0.921);
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    opacity: 1;
}
.logo a {
 color: aliceblue;
}

li{
 list-style: none;
 display: inline-block;
}
li a{
    color: aliceblue;
    margin: 15px;
}